@model List<Product>
<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Provider</th>
        <th>Action</th>
    </tr>
    @foreach (Product producto in @Model)
    {
     <tr>
             <td>@producto.id</td>
             <td>@producto.title</td>
         <td>@String.Format("{0:0.00}",producto.price)</td>
         <td><a asp-controller="market" asp-action="ProductForm" asp-route-id="@producto.id"> See product</a></td>
     </tr>   
    }
</table>
</body>
</html>